# Core
numpy==1.24.4
torch==2.0.1
torchvision==0.15.2
Pillow==10.2.0

ultralytics==8.0.196
opencv-python-headless==4.11.0.86

# Utilities
tqdm==4.66.1
pyyaml==6.0.1
click==8.1.7
scikit-image==0.21.0
matplotlib==3.7.3
imageio==2.31.1
imageio-ffmpeg==0.4.9
